.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 12px;
}
.title {
  display: flex;
  align-items: center;
  margin-block: 0;
  font-size: 16px;
  font-weight: 600;
}

.roomTypeIcon {
  font-size: 1.4rem;
  filter: grayscale(0.3);
  transition: filter 0.2s ease;
}

.roomTitle:hover .roomTypeIcon {
  filter: grayscale(0);
}

.breakers {
  align-self: start;
  display: flex;
  gap: 4px;
}

.breaker {
  width: 60px;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  min-width: 50px;
  user-select: none;
}

.breakerOn {
  background-color: #e8f5e8;
  color: #2e7d32;
  border-color: #4caf50;
}

.breakerOff {
  background-color: #ffebee;
  color: #c62828;
  border-color: #f44336;
}

.breaker:active {
  transform: translateY(0);
}

.panelName {
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  opacity: 0.7;
}

/* hover */

@media (hover: hover) {
  .breakerOn:hover {
    border-color: #388e3c;
  }
  .breakerOff:hover {
    border-color: #d32f2f;
  }
}

/* Адаптивность */
@media (max-width: 768px) {
  .title {
    font-size: 14px;
    font-weight: 400;
  }
  .breaker {
    width: 55px;
    padding: 4px;
    font-size: 12px;
    font-weight: 500;
  }
  .breaker span {
    font-size: 9px;
  }
}
