.container {
  display: flex;
  flex-direction: column;
  padding: 7px;
  gap: 7px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 7px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
  }
}
